.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.counter {
  font-weight: bold;
  font-size: 2em;
  color: orange;
  text-shadow: 0 0 22px #fff8;
  padding: 2vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo,
  .counter {
    animation: Custom-animation infinite 5s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Subcomponent-header {
  background-color: #334360;
  min-height: 10vh;
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid yellow;
  border-radius: 16px;
  padding: 4px;
  margin: 16px;
}

.App-bar {
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

.val-state {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
  border-radius: 22px;
  padding: 1vh;
}

.bouttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

p {
  margin: 1vh;
}

.component-title {
  color: yellow;
}

@keyframes Custom-animation {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

input {
  padding: 1vh;
  background: #a6a6a6;
  font-size: calc(10px + 2vmin);
  border-radius: 11px;
  box-shadow: inset 5px 5px 10px #0004;
}
